<a href="https://colab.research.google.com/github/Nisa-a/EDI-Dashboard/blob/main/ProcessingStudentData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Importing pandas library.
import pandas as pd

In [3]:
# Loading dataset into a dataset.
df = pd.read_csv('/content/EDI Dummy data.csv')

In [4]:
# View the first 5 rows.
df.head()

,STUDENTYEARMODULE,SID,NUMHUS,COURSETITLE,MODULENAME,CREDITS,LEVEL,SEMESTER,AGEONENTRY,SEX,...,GREATSTARTACCESS,BURSARY,CLASSIFICATION,MABSEQ,ASSTYPECODE,ASSTYPENAME,ASSPERC,HASMC,ACCEPTEDMC,MODULEGRADE
0,"A__A8RSWA]71Z""6)5?M5U-",1.910000e+12,1,BSc Psychology FT,Individual Differences,20,4,SEM1,18,Female,...,Other students,Other students,02:01,1,CWK,Coursework,0.5,0,0,62.29
1,"A__A8RSWA]71Z""6)5?M5U-",1.910000e+12,1,BSc Psychology FT,Individual Differences,20,4,SEM1,18,Female,...,Other students,Other students,02:01,2,EXC,Examination - closed book,0.5,0,0,65.10
2,A-A@&M]ZHTX&TG;)H.6PX*,1.910000e+12,1,BSc Psychology FT,Individual Differences,20,4,SEM1,18,Female,...,Other students,Other students,02:01,1,CWK,Coursework,0.5,0,0,59.70
3,A-A@&M]ZHTX&TG;)H.6PX*,1.910000e+12,1,BSc Psychology FT,Individual Differences,20,4,SEM1,18,Female,...,Other students,Other students,02:01,2,EXC,Examination - closed book,0.5,0,0,69.09
4,"A-P,&^E3(;1GXP-&,\Y5^,",1.910000e+12,1,BSc Cognitive and Clinical Neuroscience FT,Cognitive Psychology,20,4,SEM1,21,Female,...,Other low income students,Other low income students,02:01,1,CWK,Coursework,0.4,0,0,61.90

In [5]:
# View the data types.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528 entries, 0 to 2527
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   STUDENTYEARMODULE   2528 non-null   object
 1   SID                 2528 non-null   float64
 2   NUMHUS              2528 non-null   int64
 3   COURSETITLE         2528 non-null   object
 4   MODULENAME          2528 non-null   object
 5   CREDITS             2528 non-null   int64
 6   LEVEL               2528 non-null   int64
 7   SEMESTER            2528 non-null   object
 8   AGEONENTRY          2528 non-null   int64
 9   SEX                 2528 non-null   object
 10  ETHNICITY           2528 non-null   object
 11  ETHNICITYDETAILED   2528 non-null   object
 12  DISABLETYPE         2528 non-null   object
 13  CARELEAVER          2528 non-null   object
 14  IMDQUINTILE         2528 non-null   object
 15  ACCOMMODATIONTYPE   2528 non-null   object
 16  COMMUTELENGTH       2528 non-null   object
 17  OFSENTQUALGRPCODE   2528 non-null   int64
 18  OFSENTQUALGRPLABEL  2528 non-null   object
 19  HESATARIFFGRPCODE   2528 non-null   object
 20  HESATARIFFGRPLABEL  2528 non-null   object
 21  TARIFFPOINTS        2528 non-null   int64
 22  STATEMARKERLABEL    2528 non-null   object
 23  SCHOLARSHIPANY      2528 non-null   object
 24  GREATSTARTACCESS    2528 non-null   object
 25  BURSARY             2528 non-null   object
 26  CLASSIFICATION      2528 non-null   object
 27  MABSEQ              2528 non-null   int64
 28  ASSTYPECODE         2528 non-null   object
 29  ASSTYPENAME         2528 non-null   object
 30  ASSPERC             2528 non-null   float64
 31  HASMC               2528 non-null   int64
 32  ACCEPTEDMC          2528 non-null   int64
 33  MODULEGRADE         2528 non-null   float64
dtypes: float64(3), int64(9), object(22)
memory usage: 671.6+ KB

In [6]:
# view the dimensions of the dataset.
df.shape

(2528, 34)

In [7]:
# View basic descriptive statistics for numeric variables.
df.describe()

,SID,NUMHUS,CREDITS,LEVEL,AGEONENTRY,OFSENTQUALGRPCODE,TARIFFPOINTS,MABSEQ,ASSPERC,HASMC,ACCEPTEDMC,MODULEGRADE
count,2.528000e+03,2528.0,2528.0,2528.0,2528.000000,2528.000000,2528.000000,2528.000000,2528.000000,2528.000000,2528.000000,2528.000000
mean,1.908972e+12,1.0,20.0,4.0,19.194620,5.007516,96.355617,1.612737,0.462421,0.041535,0.039557,60.318192
std,1.009112e+10,0.0,0.0,0.0,3.687015,2.403406,39.827215,0.622704,0.157305,0.199563,0.194954,9.530441
min,1.810000e+12,1.0,20.0,4.0,18.000000,2.000000,0.000000,1.000000,0.200000,0.000000,0.000000,40.000000
25%,1.910000e+12,1.0,20.0,4.0,18.000000,3.000000,88.000000,1.000000,0.400000,0.000000,0.000000,53.650000
50%,1.910000e+12,1.0,20.0,4.0,18.000000,4.000000,96.000000,2.000000,0.500000,0.000000,0.000000,60.570000
75%,1.910000e+12,1.0,20.0,4.0,19.000000,7.000000,112.500000,2.000000,0.500000,0.000000,0.000000,66.992500
max,1.910000e+12,1.0,20.0,4.0,56.000000,11.000000,182.000000,3.000000,0.800000,1.000000,1.000000,80.000000

In [8]:
# View basic descriptive statistics for categorical variables.
df.describe(include='object')

,STUDENTYEARMODULE,COURSETITLE,MODULENAME,SEMESTER,SEX,ETHNICITY,ETHNICITYDETAILED,DISABLETYPE,CARELEAVER,IMDQUINTILE,...,OFSENTQUALGRPLABEL,HESATARIFFGRPCODE,HESATARIFFGRPLABEL,STATEMARKERLABEL,SCHOLARSHIPANY,GREATSTARTACCESS,BURSARY,CLASSIFICATION,ASSTYPECODE,ASSTYPENAME
count,2528,2528,2528,2528,2528,2528,2528,2528,2528,2528,...,2528,2528,2528,2528,2528,2528,2528,2528,2528,2528
unique,1169,3,6,2,2,5,14,5,3,6,...,9,9,9,3,2,3,3,3,5,5
top,"O^2;-[U_BJ(V[T%&?35DX""",BSc Psychology FT,Introduction to Psychological Research Methods,SEM2,Female,Asian,"White - English, Scottish, Welsh, Northern Iri...",Not disabled,Not a care leaver,Quintile 2,...,A-levels (CDD or higher),5,91 - 105 points,State school leaver,Not a scholarship student,Other students,Other students,02:01,EXC,Examination - closed book
freq,3,1663,570,1336,2314,1205,845,2321,1977,919,...,913,673,673,2179,2476,1552,1539,1545,1169,1169

In [9]:
from numpy import diff
# View missing values in each variable.
df.isnull().sum()

STUDENTYEARMODULE     0
SID                   0
NUMHUS                0
COURSETITLE           0
MODULENAME            0
CREDITS               0
LEVEL                 0
SEMESTER              0
AGEONENTRY            0
SEX                   0
ETHNICITY             0
ETHNICITYDETAILED     0
DISABLETYPE           0
CARELEAVER            0
IMDQUINTILE           0
ACCOMMODATIONTYPE     0
COMMUTELENGTH         0
OFSENTQUALGRPCODE     0
OFSENTQUALGRPLABEL    0
HESATARIFFGRPCODE     0
HESATARIFFGRPLABEL    0
TARIFFPOINTS          0
STATEMARKERLABEL      0
SCHOLARSHIPANY        0
GREATSTARTACCESS      0
BURSARY               0
CLASSIFICATION        0
MABSEQ                0
ASSTYPECODE           0
ASSTYPENAME           0
ASSPERC               0
HASMC                 0
ACCEPTEDMC            0
MODULEGRADE           0
dtype: int64

In [10]:
# View the unique values.
df['OFSENTQUALGRPLABEL'].unique()

array(['A-levels (CDD or higher)',
       'A-levels (DDD or lower), other level 3 qualification (105 tariff points or higher) or two A-levels and one BTEC',
       'A-levels (ABB or higher)',
       'A-levels (BCC or higher) or international baccalaureate',
       'BTECs (at least DDM), or one A-level and two BTECs',
       'Access or foundation courses, or other level 3 qualification (66 tariff points or higher)',
       'HE-level', 'BTECs (lower than DDM)',
       'None, unknown or other entry qualifications'], dtype=object)

In [11]:
# View the unique values.
df['OFSENTQUALGRPCODE'].unique()

array([ 4,  5,  2,  3,  7, 10,  6,  8, 11])

In [12]:
# View the unique values.
df['HESATARIFFGRPCODE'].unique()

array(['3', '5', 'Z5', '7', '4', '6', 'Z9', '2', '1'], dtype=object)

In [13]:
# View the unique values.
df['HESATARIFFGRPLABEL'].unique()

array(['66 - 80 points', '91 - 105 points',
       'Not in the standard tariff population', '116+ points',
       '81 - 90 points', '106 - 115 points',
       'Not known or zero tariff points', '41 - 65 points',
       'Less than 41 points'], dtype=object)

In [14]:
# View the unique values.
df['MABSEQ'].unique()

array([1, 2, 3])

In [15]:
# View the unique values.
df['ASSTYPECODE'].unique()

array(['CWK', 'EXC', 'SSY', 'PRE', 'ICN'], dtype=object)

In [16]:
# View the unique values.
df['ASSTYPENAME'].unique()

array(['Coursework', 'Examination - closed book', 'Essay', 'Presentation',
       'In-Class Test/Assignment non exam conditions'], dtype=object)

In [17]:
df['IMDQUINTILE'].unique()

array(['Quintile 2', 'Quintile 3', 'Quintile 4', 'Quintile 5',
       'Quintile 1', 'Unknown / non-UK'], dtype=object)

In [18]:
df['GREATSTARTACCESS'].unique()

array(['Other students', 'Other low income students',
       'Great Start / Access recipient'], dtype=object)

In [20]:
# Make 'AGEONENTRY' ranges instead. Better for visualisation.
bins = [18, 21, 25, 30, 100]
labels = ['18-21','22-25','26-30','30+']
df['AGEGROUP'] = pd.cut(df['AGEONENTRY'],
                        bins=bins,
                        labels=labels,
                        include_lowest=True) # Includes the lowest boundary because by default it excludes 18.
# View the unique values.
df['AGEGROUP'].unique()

['18-21', '22-25', '26-30', '30+']
Categories (4, object): ['18-21' < '22-25' < '26-30' < '30+']

In [19]:
# Drop variables with no relevance.
df.drop(['STUDENTYEARMODULE', 'SID','NUMHUS'], axis= 1, inplace= True)

In [21]:
# Save the cleanded dataset.
df.to_csv("preprocessed_student_data.csv", index=False)

In [22]:
# Re-load the cleaned dataset.
edi_df = pd.read_csv('/content/preprocessed_student_data.csv')

In [23]:
# Make an EDI focused dataset for analysis and modelling.
edi_variables = [
    'SEX', 'ETHNICITY','ETHNICITYDETAILED', 'DISABLETYPE',
    'CARELEAVER', 'IMDQUINTILE', 'ACCOMMODATIONTYPE',
    'COMMUTELENGTH', 'AGEONENTRY', 'SCHOLARSHIPANY',
    'GREATSTARTACCESS', 'BURSARY', 'MODULEGRADE','CLASSIFICATION'
]
edi_df = edi_df[edi_variables]
edi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528 entries, 0 to 2527
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SEX                2528 non-null   object
 1   ETHNICITY          2528 non-null   object
 2   ETHNICITYDETAILED  2528 non-null   object
 3   DISABLETYPE        2528 non-null   object
 4   CARELEAVER         2528 non-null   object
 5   IMDQUINTILE        2528 non-null   object
 6   ACCOMMODATIONTYPE  2528 non-null   object
 7   COMMUTELENGTH      2528 non-null   object
 8   AGEONENTRY         2528 non-null   int64
 9   SCHOLARSHIPANY     2528 non-null   object
 10  GREATSTARTACCESS   2528 non-null   object
 11  BURSARY            2528 non-null   object
 12  MODULEGRADE        2528 non-null   float64
 13  CLASSIFICATION     2528 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 276.6+ KB

In [24]:
# Save the EDI focused dataset.
edi_df.to_csv("edi_df.csv", index=False)